<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script type="module" crossorigin src="/public/index.33937f37.js"></script>
    <link rel="modulepreload" href="/public/vendor.16cd2c8d.js">
    <link rel="stylesheet" href="/public/index.79f3996e.css">
  </head>
  <body>
    <div id="app" class="ui container"></div>
  </body>
</html>
